<launch>
    <arg name="marker_size"          default="12.6" />
    <arg name="max_new_marker_error" default="0.05" />
    <arg name="max_track_error"      default="0.05" />

    <arg name="c1_image_topic"      default="/camera/rgb/image_raw" />
    <arg name="c1_info_topic"       default="/camera/rgb/camera_info" />
    <arg name="c1_output_frame"     default="camera_link" />

    <!-- name="$(anon ar_track_alvar)" -->
    <node name="c1_ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg c1_image_topic) $(arg c1_info_topic) $(arg c1_output_frame)" />
</launch>