<?xml version="1.0"?>
<launch>
    <!-- BE SURE TO SET ENV VARIABLES FOR BAXTER BEFOREHAND -->
    <!-- simdomo/sofyasim or realdomo/sofyareal; srcskel -->


    
    <arg name="openni" default="true" />
    <arg name="display" default="true" />

    <arg name="voice_command" default="true" />
    <!-- Use " pacmd list-sources " to find mic name-->
    <!-- Adjust settings with tool: alsamixer-->
    <arg name="mic" default="alsa_input.pci-0000_00_1b.0.analog-stereo" />

    <arg name="bag" default="false" />
    <arg name="rviz" default="false" />
    <arg name="update_gripper" default="true" />

    <arg name="bag_file" default="maruchan_train2.bag" />
    <!-- <arg name="camera_trans" default="1. 0. 0. -0.5, 0.5, -0.5, 0.5"/> --> <!-- Adjusted from camera 
    frame -->
    <arg name="camera_trans" default="1. 0. 0. -0.5, 0.5, -0.5, 0.5"/>
    <arg name="classifier_xml1" default="maruchan_asus15.xml"/>
    <arg name="classifier_img1" default="maruchan_sample.png"/>


    <!-- <param name="camera_info_url" value="$(find liam_neeson)/ost.yaml" -->

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="$(arg camera_trans) base camera_link1 1000" />

    <include
        file="$(find liam_neeson)/launch/baxter_setup.launch">
        <arg name="update_gripper" value="$(arg update_gripper)" />
    </include>

    <include if="$(arg rviz)"
        file="$(find liam_neeson)/launch/baxter_rviz.launch">
    </include>

    <node pkg="liam_neeson" 
        type="demo_obj_pointer.py" 
        output="screen" 
        name="demo_obj_pointer"/>

    <node pkg="liam_neeson"
        type="obj_dregistered.py"
        output="screen"
        name="obj_dregistered"
        args="$(find liam_neeson)/src/classifier_data/$(arg classifier_img1) $(find liam_neeson)/src/classifier_data/$(arg classifier_xml1)"/>

    <node if="$(arg display)"
        pkg="liam_neeson"
        type="baxter_display_left.py"
        output="screen"
        name="baxter_cam_disp_left"/>

    <include if="$(arg openni)" 
        file="$(find openni_launch)/launch/openni.launch" >
        <arg name="depth_registration" value="true" />
    </include>


    <include if="$(arg voice_command)"
        file="$(find liam_neeson)/launch/obj_pocketsphinx.launch" >
        <arg name="mic" value="$(arg mic)" />
    </include>        
    

    <node if="$(arg bag)"
        pkg="rosbag" type="play" name="rosbag" args="-l $(find liam_neeson)/bag/$(arg bag_file)"/>

</launch>
